<!DOCTYPE html>
<html lang="es-MX" 
	xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admino - Administración de condominios</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<form class="form-signin" name="f" th:action="@{/signup}" method="post" autocomplete="off" th:object="${condominio}">
				
					<div class="text-center mb-4">
						<img class="mb-4" src="/img/brand/admino.svg" alt="" width="72"
							height="72">
						<h1 class="h3 mb-3 font-weight-normal">Administrador de Condominios</h1>
					</div>
					
					<div class="form-group mb-2">
						<label for="condominio">Condominio</label>
						<input type="text" id="condominio" class="form-control"
							placeholder="Nombre del condominio" required autofocus=""
							th:field="${condominio.nombre}" th:classappend="${#fields.hasErrors('nombre')} ? is-invalid : is-valid">
					    <div id="nombreHelp" class="form-text invalid-feedback" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
					</div>
					<div class="form-group mb-2">
						<label for="direccion">Dirección</label>
						<textarea id="direccion" class="form-control"
					    	th:field="${condominio.domicilio}" th:classappend="${#fields.hasErrors('domicilio')} ? is-invalid : is-valid"></textarea>
					    <div id="domicilioHelp" class="form-text invalid-feedback" th:if="${#fields.hasErrors('domicilio')}" th:errors="*{domicilio}"></div>
					</div>
					
					<div class="form-group mb-2">
						<label for="unidades">Condominios</label>
						<input id="unidades" class="form-control" type="number" min="2" step="1" required
					    	th:field="${condominio.unidades}" th:classappend="${#fields.hasErrors('unidades')} ? is-invalid : is-valid">
					    <div id="unidadesHelp" class="form-text invalid-feedback" th:if="${#fields.hasErrors('unidades')}" th:errors="*{unidades}"></div>
					</div>
					
					<hr>

					<div class="form-group mb-2">
						<label for="nombre">Administrador</label>
						<input type="text" name="name" id="nombre" class="form-control" placeholder="Nombre del administrador"
							required="" autocomplete="off">
					</div>
					
					<div class="row mb-2">
						<div class="col">
							<div class="form-group">
								<label for="username">Usuario administrador</label>
								<input type="text" name="username" id="username" class="form-control"
									placeholder="Elija un nombre de usuario" required="" autocomplete="off">
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label for="inputEmail">Email administrador</label>
								<input type="email" name="email" id="inputEmail" class="form-control"
									placeholder="Buzon de Email" required="">
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label for="inputPhone">Teléfono administrador</label>
								<input type="phone" id="inputPhone" class="form-control" maxlength="10" minlength="10" 
									placeholder="Teléfono de contacto" required 
									th:field="${condominio.telefono}" th:classappend="${#fields.hasErrors('telefono')} ? is-invalid : is-valid">
						    <div id="telefonoHelp" class="form-text invalid-feedback" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">Telefono</div>
							</div>
						</div>
					</div>

					<div class="row mb-2">
						<div class="col">
							<div class="form-group">
								<label for="password">Contraseña</label>
								<input type="password" name="password" id="password" class="form-control"
									placeholder="Escriba una contraseña" required="">
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label for="confirmation">Confirmación</label>
								<input type="password" name="confirmation" id="confirmation" class="form-control"
									placeholder="Confirma tu contraseña" required="">
							</div>
						</div>
					</div>

					<hr>
					
					<div class="d-flex justify-content-between">
						<span>
							Ya tienes cuenta <a th:href="@{/login}">inicia sesión.</a>
						</span>
						<button class="btn btn-primary" type="submit">Registrar</button>
					</div>

					<p class="mt-5 mb-3 text-muted text-center">© 2017-2022</p>
				</form>
			</div>
		</div>
	</div>
</body>

</html>