<!DOCTYPE html>
<html lang="es-MX" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admino - Administración de condominios</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
	<main>
		<nav class="navbar navbar-expand-lg navbar-light bg-light" th:replace="layouts/master::navbar">
		</nav>

		<div class="container mt-4">
			<header>
				<h1>Registro de pagos</h1>
				<nav th:replace="layouts/master::breadcrum"></nav>
			</header>
			<form th:action="@{/cargos/nuevo}" method="post" th:object="${cargo}">
				<div class="card">
					<div class="card-header py-3">
						Captura los datos del cargo
					</div>
					<div class="card-body">
						<div class="row">
						  <div class="mb-3 col">
						    <label for="condomino" class="form-label">Condomino</label>
						    <select class="form-select" aria-describedby="condominoHelp" th:field="${cargo.condomino}" required>
						    <option value="">No identificado</option>
						    <option th:each="item: ${condominos}" th:value="${item.id}" th:text="${item.interior + ' ' + item.nombre}"></option>
						    </select>
						    <div id="condominoHelp" class="form-text invalid-feedback"
						    	th:if="${#fields.hasErrors('condomino')}" th:errors="*{condomino}">Condomino</div>
						  </div>
						  <div class="mb-3 col">
						    <label for="concepto" class="form-label">Concepto</label>
						    <select class="form-control" aria-describedby="condominoHelp" th:field="${cargo.concepto}" required>
						    <option value="Mantenimiento">Mantenimiento</option>
						    <option value="Sancion A">Sancion A</option>
						    <option value="Sancion B">Sancion B</option>
						    <option value="Sancion C">Sancion C</option>
						    <option value="Aclaracion">Aclaracion</option>
						    <option value="Interes">Interes</option>
						    </select>
						    <div id="condominoHelp" class="form-text invalid-feedback"
						    	th:if="${#fields.hasErrors('concepto')}" th:errors="*{concepto}">Condomino </div>
						  </div>
						</div>
						<div class="row">
						  <div class="mb-3 col">
						    <label for="fechaRealizado" class="form-label">Fecha Vencimiento</label>
						    <input type="date" class="form-control" id="fechaRealizado" aria-describedby="fechaHelp" 
						    	th:field="${cargo.fechaVencimiento}"
						    	th:classappend="${#fields.hasErrors('fechaVencimiento')} ? is-invalid : is-valid">						    	
						    <div id="fechaHelp" class="form-text invalid-feedback"
						    	th:if="${#fields.hasErrors('fechaVencimiento')}" th:errors="*{fechaVencimiento}">Fecha vencimiento</div>
						  </div>
						  <div class="mb-3 col">
						    <label for="importe" class="form-label">Importe</label>
						    <input type="number" step="1.00"  class="form-control" id="importe" aria-describedby="importeHelp" 
						    	th:field="${cargo.importe}"
						    	th:classappend="${#fields.hasErrors('importe')} ? is-invalid : is-valid">						    	
						    <div id="importeHelp" class="form-text invalid-feedback"
						    	th:if="${#fields.hasErrors('importe')}" th:errors="*{importe}">Importe</div>
						  </div>
						  </div>
					</div>
					<div class="card-footer text-end">
						  <button type="submit" class="btn btn-primary">Guardar</button>
					</div>
				</div>
			</form>
		</div>
		<footer th:include="layouts/master::footer"></footer>		
	</main>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
		integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
		integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
		crossorigin="anonymous"></script>
</body>

</html>