<!DOCTYPE html>
<html lang="es-MX" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admino - Administración de condominios</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
	<main>
		<nav class="navbar navbar-expand-lg navbar-light bg-light" th:replace="layouts/master::navbar">
		</nav>

		<div class="container mt-2">
			<header>
				<h1 class="text-muted fs-2"><span th:text="${condominio.nombre}"></span> <span th:text="${casa.interior}"> - Cargos</span></h1>
				<nav th:replace="layouts/master::breadcrum"></nav>
				<div th:replace="layouts/master::alerts"></div>				
			</header>
			<ul class="nav mb-2" th:replace="layouts/master::navbar_casa('Cargos')"></ul>
			<div class="card">
				<div class="card-header bg-primary bg-gradient text-white">
					Listado de cargos incurridos
				</div>
				<div class="card-body table-responsive p-0">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Fecha de vencimiento</th>
								<th scope="col">Interior</th>
								<th scope="col">Dueño</th>
								<th scope="col">Concepto</th>
								<th scope="col">Estatus</th>
								<th scope="col">Importe</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="cargo:${cargos}" th:if="${cargos.getTotalElements() > 0}">
								<td th:text="${#dates.format(cargo.fechaVencimiento, 'dd/MM/yyyy')}">Mark</td>
								<td th:text="${cargo.casa.interior}">Otto</td>
								<td th:text="${cargo.casa.nombre}">@mdo</td>
								<td th:utext="${cargo.concepto}">Mark</td>
								<td th:text="${cargo.estatus}">Mark</td>
								<td class="text-end" th:text="${#numbers.formatDecimal(cargo.importe, 3, 'COMMA', 2, 'POINT')}">@mdo</td>
							</tr>
							<tr th:if="${cargos.getTotalElements() == 0}">
								<td colspan="6">No hay cargos registrados</td>
							</tr>
						</tbody>
						<tfoot>
						<tr>
							<th scope="col">Fecha de vencimiento</th>
							<th scope="col">Interior</th>
							<th scope="col">Dueño</th>
							<th scope="col">Concepto</th>
							<th scope="col">Estatus</th>
							<th scope="col">Importe</th>
						</tr>
						</tfoot>
					</table>
					<nav aria-label="Page navigation" th:if="${cargos.getTotalElements() > 0}">
						<ul class="pagination justify-content-center">
							<li class="page-item">
								<a class="page-link" th:href="@{/condominios/{cid}/casas/{uid}/cargos(cid=${condominio.id},uid=${casa.id}, page=1)}" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li class="page-item" th:each="i : ${#numbers.sequence( 1, cargos.getTotalPages)}">
								<a class="page-link"
								   th:classappend="${#request.getParameter('page') == i ? 'active' : ''}"
								   th:href="@{/condominios/{cid}/casas/{id}/cargos(cid=${condominio.id}, id=${casa.id}, pagina=${i})}"
								   th:text="${pagina}">
								</a>
							</li>
							<li class="page-item">
								<a class="page-link"
								   th:href="@{/condominios/{cid}/casas/{id}/cargos(cid=${condominio.id}, id=${casa.id},pagina=${cargos.getTotalPages})}"
								   aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="card-footer text-end">
					<button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalForm">Nuevo</button>
				</div>
			</div>
		</div>
		<footer th:include="layouts/master::footer"></footer>
		
	</main>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
		integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
		integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
		crossorigin="anonymous"></script>
</body>

<div class="modal fade" tabindex="-1" id="modalForm" data-bs-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="post" autocomplete="off" th:action="@{/condominios/{cid}/casas/{id}/cargos/nuevo(cid=${condominio.id}, id=${casa.id})}" th:object="${cargo}">
				<div class="modal-header">
					<h5>Información del cargo</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<div class="modal-body">
					<div class="mb-3 form-group">
						<label for="fechaVencimiento" class="form-label">Fecha de vencimiento</label>
						<input type="date"  class="form-control" id="fechaVencimiento" aria-describedby="fechaVecimientoHelp" required
							   th:field="${cargo.fechaVencimiento}"
							   th:classappend="${#fields.hasErrors('fechaVencimiento')} ? is-invalid : ''">
						<div id="fechaVencimientoHelp" class="form-text invalid-feedback" th:if="${#fields.hasErrors('fechaVencimiento')}" th:errors="*{fechaVencimiento}">Fecha de vencimiento</div>
					</div>
					<div class="mb-3 form-group">
						<label for="concepto" class="form-label">Concepto</label>
						<select id="concepto" class="form-select" th:field="${cargo.concepto}" required>
							<option th:value="${item}" th:each="item:${T(mx.admino.models.CargoConcepto).values()}" th:text="${item}"></option>
						</select>
					</div>
					<div class="mb-3 form-group">
						<label for="importe" class="form-label">Importe</label>
						<input type="number" step="1.00"  class="form-control" id="importe" aria-describedby="importeHelp" required
							   th:field="${cargo.importe}"
							   th:classappend="${#fields.hasErrors('importe')} ? is-invalid : ''">
						<div id="importeHelp" class="form-text invalid-feedback" th:if="${#fields.hasErrors('importe')}" th:errors="*{importe}">Importe</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
		</div>
		</form>
	</div>
</div>


</html>