<!DOCTYPE html>
<html lang="es-MX" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admino - Administración de condominios</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" th:fragment="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}">
        <img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
          class="d-inline-block align-text-top">
        AdminoMX
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/condominos}">Condominos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/pages/features}">Caracteristicas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/pages/price}">Precio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Ayuda
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" th:href="@{/pages/faqs}">FAQs</a></li>
              <li><a class="dropdown-item" th:href="@{/pages/about}">Acerca</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  
  <div th:fragment="alerts">
	  <div class="alert alert-primary" role="alert" th:if="${alert_primary}">
	  	<span th:text="${alert_primary}"></span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  </div>
	  <div class="alert alert-secondary" role="alert" th:if="${alert_secondary}">
	  	<span th:text="${alert_secondary}"></span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  </div>
	  <div class="alert alert-success" role="alert" th:if="${alert_success}">
	  	<span th:text="${alert_success}"></span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  </div>
	  <div class="alert alert-danger" role="alert" th:if="${alert_danger}">
	  	<span th:text="${alert_danger}"></span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  </div>
	  <div class="alert alert-warning" role="alert" th:if="${alert_warning}">
	  	<span th:text="${alert_warning}"></span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  </div>
	  <div class="alert alert-info" role="alert" th:if="${alert_info}">
	  	<span th:text="${alert_info}"></span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  </div>
	  <div class="alert alert-light" role="alert" th:if="${alert_light}">
	  	<span th:text="${alert_light}"></span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  </div>
	  <div class="alert alert-dark" role="alert" th:if="${alert_dark}">
	  	<span th:text="${alert_dark}"></span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  </div>
  </div>
  <nav class="bg-light my-3 py-2" aria-label="breadcrumb" th:fragment="breadcrum">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" th:each="breadcrumItem: ${breadcrum}">
      	<a th:href="@{${breadcrumItem.url}}" th:text="${breadcrumItem.etiqueta}" th:classappend="${breadcrumItem.activo} ? active">Home</a></li>
    </ol>
  </nav>

  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" th:fragment="footer">

    <a href="/"
      class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a th:href="@{/}" class="nav-link px-2 text-muted">© 2021 admino</a></li>
      <li class="nav-item"><a th:href="@{/pages/features}" class="nav-link px-2 text-muted">Caracteristicas</a></li>
      <li class="nav-item"><a th:href="@{/pages/price}" class="nav-link px-2 text-muted">Precio</a></li>
      <li class="nav-item"><a th:href="@{/pages/faqs}" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a th:href="@{/pages/about}" class="nav-link px-2 text-muted">Acerca</a></li>
    </ul>
  </footer>

  <div th:fragment="scripts">
  	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    	integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
    	crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    	integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
    	crossorigin="anonymous"></script>
	</div>
</body>

</html>