<!DOCTYPE html>
<html lang="es-MX" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admino - Administración de condominios</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
	<main>
		<nav class="navbar navbar-expand-lg navbar-light bg-light" th:replace="layouts/master::navbar">
		</nav>

		<div class="container mt-2">
			<header>
				<h1 class="text-muted fs-2"><span th:text="${condominio.nombre}"></span> <span th:text="${casa.interior}"> - Facturas</span></h1>
				<nav th:replace="layouts/master::breadcrum"></nav>
				<div th:replace="layouts/master::alerts"></div>				
			</header>
			<ul class="nav mb-2" th:replace="layouts/master::navbar_casa('Facturas')"></ul>
			<div class="card">
				<div class="card-header bg-primary bg-gradient text-white d-flex justify-content-between">
					<span>Estados de cuenta generados en el sistema</span>
					<button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#filtrarModal">
					  Filtrar
					</button>
				</div>
				<div class="card-body table-responsive p-0">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Fecha de corte</th>
								<th scope="col">Fecha de vencimiento</th>
								<th scope="col">Condominio</th>
								<th scope="col">Dueño</th>
								<th scope="col">Saldo inicial</th>
								<th scope="col">Pagos</th>
								<th scope="col">Cargos</th>
								<th scope="col">Saldo</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="factura: ${facturas}" th:if="${facturas.getTotalElements() > 0}")>
								<td>
									<a th:href="@{/facturas/{id}(id=${factura.id})}" th:text="${#dates.format(factura.fechaCorte, 'dd/MM/yyyy')}"></a>
								</td>
								<td th:text="${#dates.format(factura.fechaVencimiento, 'dd/MM/yyyy')}"></td>
								<td th:text="${factura.casa.interior}"></td>
								<td th:text="${factura.casa.nombre}"></td>
								<td class="text-end" th:text="${#numbers.formatDecimal(factura.saldoAnterior, 1, 'COMMA', 2, 'POINT')}"></td>
								<td class="text-end" th:text="${#numbers.formatDecimal(factura.importePagos, 1, 'COMMA', 2, 'POINT')}"></td>
								<td class="text-end" th:text="${#numbers.formatDecimal(factura.importeCargos, 1, 'COMMA', 2, 'POINT')}"></td>
								<td class="text-end" th:text="${#numbers.formatDecimal(factura.saldo, 1, 'COMMA', 2, 'POINT')}"></td>
							</tr>
							<tr>
								<td colspan="8" th:if="${facturas.getTotalElements() == 0}">No existen estados de corte</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-footer">
					<div class="row">
						<div class="col-md-6">
							<nav aria-label="Page navigation" th:if="${facturas.getTotalElements() > 0}">
								<ul class="pagination">
									<li class="page-item">
										<a class="page-link" href="#" aria-label="Previous">
											<span aria-hidden="true">&laquo;</span>
										</a>
									</li>
									<li class="page-item" th:each="i : ${#numbers.sequence( 1, facturas.getTotalPages)}">
										<a class="page-link"
											th:classappend="${#request.getParameter('page') == i ? 'active' : ''}"  
											th:href="@{/facturas(page=${i}, size=10, casa=${#request.getParameter('casa')},fechaCorte=${#request.getParameter('fechaCorte')},saldoMinimo=${#request.getParameter('saldoMinimo')},saldoMaximo=${#request.getParameter('saldoMaximo')})}"
											th:text="${i}">1</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#" aria-label="Next">
											<span aria-hidden="true">&raquo;</span>
										</a>
									</li>
								</ul>
							</nav>		
						</div>
						<div class="col-md-6 text-end">
							<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#generarModal">
							  Generar
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Search Modal
		<div class="modal fade" id="filtrarModal" tabindex="-1" aria-labelledby="buscarModalLabel" aria-hidden="true">
		  <form th:action="@{/facturas}" method="get" th:object="${filtro}">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="buscarModalLabel">Generar los estados de cuenta</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			      	<div class="row">
					  <div class="mb-3">
					    <label for="casa" class="form-label">Condomino</label>
					    <select class="form-select" aria-describedby="condominoHelp" th:field="${facturaFiltro.casa}">
					    <option value="">Todos</option>
					    <option th:each="item: ${casas}" th:value="${item.id}" th:text="${item.interior + ' ' + item.nombre}"></option>
					    </select>
					    <div id="condominoHelp" class="form-text invalid-feedback"
					    	th:if="${#fields.hasErrors('casa')}" th:errors="*{casa}">Condomino</div>
					  </div>
					  <div class="mb-3">
					    <label for="fechaCorte" class="form-label">Fecha de Corte</label>
					    <input type="date" class="form-control" id="fechaCorte" aria-describedby="fechaCorteHelp" required
					    	th:field="${facturaFiltro.fechaCorte}"
					    	th:classappend="${#fields.hasErrors('fechaCorte')} ? is-invalid : is-valid">						    	
					    <div id="fechaCorteHelp" class="form-text invalid-feedback"
					    	th:if="${#fields.hasErrors('fechaCorte')}" th:errors="*{fechaCorte}">Fecha inicio corte</div>
					  </div>
					  <div class="mb-3">
						  <div class="col form-group">
						    <label for="saldoMinimo" class="form-label">Saldo minimo</label>
						    <input type="number" class="form-control" id="saldoMinimo" aria-describedby="saldoMinimoHelp"
						    	th:field="${facturaFiltro.saldoMinimo}"
						    	th:classappend="${#fields.hasErrors('saldoMinimo')} ? is-invalid : is-valid">						    	
						    <div id="saldoMinimoHelp" class="form-text invalid-feedback"
						    	th:if="${#fields.hasErrors('saldoMinimo')}" th:errors="*{saldoMinimo}">Saldo minimo</div>
						  </div>      	
						  <div class="col form-group">
						    <label for="saldoMaximo" class="form-label">Saldo máximo</label>
						    <input type="number" class="form-control" id="saldoMaximo" aria-describedby="saldoMaximoHelp"
						    	th:field="${facturaFiltro.saldoMaximo}"
						    	th:classappend="${#fields.hasErrors('saldoMaximo')} ? is-invalid : is-valid">
						    <div id="saldoMaximoHelp" class="form-text invalid-feedback"
						    	th:if="${#fields.hasErrors('saldoMaximo')}" th:errors="*{saldoMaximo}">Saldo máximo</div>
						  </div>
					  </div>      	
			      	</div>	
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
			        <button type="submit" class="btn btn-primary">Buscar</button>
			      </div>
			    </div>
			  </div>
	      </form>      
		</div>
		-->
		<!-- Generate Modal -->
		<div class="modal fade" id="generarModal" tabindex="-1" aria-labelledby="generarModalLabel" aria-hidden="true">
		  <form th:action="@{/facturas/generar}" method="post" th:object="${solicitud}">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="generarModalLabel">Generar los estados de cuenta</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			      	<div class="row">
					  <div class="mb-3">
					    <label for="fechaCorte" class="form-label">Fecha Corte</label>
					    <input type="date" class="form-control" id="fechaCorte" aria-describedby="fechaCorteHelp" required
					    	th:field="${solicitud.fechaCorte}"
					    	>						    	
					    <div id="fechaHelp" class="form-text invalid-feedback"
					    	th:if="${#fields.hasErrors('fechaCorte')}" th:errors="*{fechaCorte}">Fecha corte</div>
					  </div>
					  <div class="mb-3">
					    <label for="fechaVencimiento" class="form-label">Fecha Vencimiento</label>
					    <input type="date" class="form-control" id="fechaVencimiento" aria-describedby="fechaHelp" required
					    	th:field="${solicitud.fechaVencimiento}"
					    	th:classappend="${#fields.hasErrors('fechaVencimiento')} ? is-invalid">	
					    <div id="fechaHelp" class="form-text invalid-feedback"
					    	th:if="${#fields.hasErrors('fechaVencimiento')}" th:errors="*{fechaVencimiento}">Fecha vencimiento</div>
					  </div>      	
			      	</div>	
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
			        <button type="submit" class="btn btn-primary">Generar</button>
			      </div>
			    </div>
			  </div>
	      </form>      
		</div>
		
		<footer th:include="layouts/master::footer"></footer>
		
	</main>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
		integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
		integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
		crossorigin="anonymous"></script>
</body>

</html>