<!DOCTYPE html>
<html lang="es-MX" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admino - Administración de condominios</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
	<main>
		<nav th:replace="layouts/master::navbar">
		</nav>

		<div class="container mt-2">
			<header>
				<h1 class="text-muted fs-2">Casas o departamentos</h1>
				<nav th:replace="layouts/master::breadcrum"></nav>
				<div th:replace="layouts/master::alerts"></div>
			</header>

			<ul class="nav mb-2" th:replace="layouts/master::navbar_condominio('Casas')"></ul>

			<div class="card">
				<div class="card-header bg-primary bg-gradient text-white">
					Directorio de casas
				</div>
				<div class="card-body table-responsive p-0">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Interior</th>
								<th scope="col">Dueño</th>
								<th scope="col">Telefono</th>
								<th scope="col">Correo</th>
								<th scope="col">Saldo</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${casas.totalElements == 0}">
								<td colspan="5" class="text-center">No hay casas registradas. Generamos los registros con datos ficticios.
									<a th:href="@{/condominios/{cid}/casas/generar(cid=${condominio.id})}">Oprime aqui.</a>
								</td>
							</tr>
							<tr th:each="casa: ${casas}">
								<th><a th:href="@{/condominios/{cid}/casas/{id}(cid=${condominio.id}, id=${casa.id})}" th:text="${casa.interior}"></a></th>
								<td th:text="${casa.nombre}">Mark</td>
								<td th:text="${casa.telefono}">Otto</td>
								<td th:text="${casa.correo}">@mdo</td>
								<td class="text-end" th:text="${#numbers.formatDecimal(casa.saldo, 1, 'COMMA', 2, 'POINT')}">@mdo</td>
							</tr>
						</tbody>
						<tfoot>
						<tr>
							<th scope="col">Interior</th>
							<th scope="col">Dueño</th>
							<th scope="col">Telefono</th>
							<th scope="col">Correo</th>
							<th scope="col">Saldo</th>
						</tr>
						</tfoot>
					</table>
					<nav class="d-flex justify-content-center mr-2" aria-label="Page navigation">
						<ul class="pagination" th:if="${casas.totalPages > 0}">
							<li class="page-item">
								<span class="page-link disabled" th:if="${casas.isFirst}">
									<span aria-hidden="true">&laquo;</span>
								</span>
								<a class="page-link" th:href="@{/condominios/{cid}/casas(cid=${condominio.id}, page=${1}, size=10)}" aria-label="Anterior" th:if="${!casas.isFirst}">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li class="page-item" th:each="i : ${#numbers.sequence( 1, casas.getTotalPages)}">
								<span class="page-link active" th:text="${param.page}" th:if="${param.page == i}">
								</span>
								<a class="page-link"
								   th:if="${param.page != i}"
								   th:href="@{/condominios/{cid}/casas(cid=${condominio.id}, page=${i}, size=10)}"
								   th:text="${i}">1
								</a>
							</li>
							<li class="page-item">
								<span class="page-link disabled" th:if="${casas.isLast}">
									<span aria-hidden="true">&raquo;</span>
								</span>
								<a class="page-link"
								   th:href="@{/condominios/{cid}/casas(cid=${condominio.id}, page=${casas.totalPages}, size=10)}"
								   th:if="${!casas.isLast}"
								   aria-label="Siguiente">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="card-footer">
					<div class="text-end">
						<a th:href="@{/condominios/{cid}/casas/nuevo(cid=${condominio.id})}" class="btn btn-primary">Nuevo</a>
					</div>
				</div>
			</div>
		</div>
		<footer th:include="layouts/master::footer"></footer>
	</main>

	<div th:replace="layouts/master::scripts"></div>

</body>

</html>