<!DOCTYPE html>
<html lang="es-MX" 
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admino - Administración de condominios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
      
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 text-muted lh-1 mb-3">Administración de condominio</h1>
        <p class="col-lg-10 fs-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc laoreet, leo in porttitor vulputate, purus enim tincidunt orci, eu lobortis magna mauris vel nisi. Ut facilisis finibus pharetra. Cras auctor, neque sit amet ornare tempor, lacus nunc consequat erat, ac dignissim metus libero at lacus. Nulla vel nunc sit amet dolor faucibus sagittis. Integer tempus nulla est, in pretium ipsum mattis sit amet.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
          <div class="card">
              <div class="card-body">

              <small class="text-muted">Ya tienes una cuenta </small><br>
              <a class="w-50 btn btn-lg btn-primary" th:href="@{/login}">Iniciar</a>
              <p>
              <small class="text-muted">Aun no te has registrado</small><br>
              <a class="w-50 btn btn-lg btn-outline-primary" th:href="@{/signup}">Registre</a>
              <p>
              <small class="text-muted">Olvidaste tu contraseña </small><br>
              <a class="w-50 btn btn-lg btn-outline-primary" th:href="@{/recover}">Recuperarla</a>
              <hr>
              <small class="text-muted">Al iniciar sesión acepta los <a th:href="@{/pages/terms}">términos y condiciones.</a></small>
              </div>

          </div>
      </div>
    </div>
  </div>
  <footer th:include="layouts/master::footer"></footer>
  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>
</html>
