<!DOCTYPE html>
<html lang="es-MX" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admino - Administración de condominios</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
	<main>
		<nav class="navbar navbar-expand-lg navbar-light bg-light" th:replace="layouts/master::navbar">
		</nav>

		<div class="container mt-2">
			<header>
				<h1 class="text-muted fs-2"><span th:text="${condominio.nombre}"></span> - Pagos</span></h1>
				<nav th:replace="layouts/master::breadcrum"></nav>
				<div th:replace="layouts/master::alerts"></div>
			</header>

			<ul class="nav mb-2" th:replace="layouts/master::navbar_condominio('Pagos')"></ul>

			<div class="card">
				<div class="card-header bg-primary bg-gradient text-white">
					Listado de pagos realizados
				</div>
				<div class="card-body table-responsive p-0">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Fecha de pago</th>
								<th scope="col">Interior</th>
								<th scope="col">Dueño</th>
								<th scope="col">Estatus</th>
								<th scope="col">Forma</th>
								<th scope="col">Importe</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="pago:${pagos}" th:if="${pagos.getTotalElements() > 0}" >
								<td>
									<a th:href="@{/condominios/{cid}/pagos/{pid}(cid=${condominio.id}, pid=${pago.id})}" th:text="${#dates.format(pago.fechaPagado, 'dd/MM/yyyy')}"></a>
								</td>
								<td>
									<a th:href="@{/condominios/{cid}/casas/{id}(cid=${condominio.id}, id=${casa.id})}" th:text="${pago.casa?.Interior}" th:if="${pago.casa != null}"></a>
									<span th:if="${pago.casa == null}">No identificado</span>
								</td>
								<td th:text="${pago.casa?.nombre}">Otto</td>
								<td th:text="${pago.estatus}">Otto</td>
								<td th:text="${pago.metodo}">Otto</td>
								<td class="text-end" th:text="${#numbers.formatDecimal(pago.importe, 3, 'COMMA', 2, 'POINT')}">
								</td>
							</tr>
							<tr th:if="${pagos.getTotalElements() == 0}" >
								<td colspan="6">No hay pagos registrados</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th scope="col">Fecha de pago</th>
								<th scope="col">Interior</th>
								<th scope="col">Dueño</th>
								<th scope="col">Estatus</th>
								<th scope="col">Forma</th>
								<th scope="col">Importe</th>
							</tr>
						</tfoot>
					</table>

					<nav aria-label="Page navigation" th:if="${pagos.getTotalElements() > 0}">
						<ul class="pagination justify-content-center">
							<li class="page-item">
								<a class="page-link" th:href="@{/condominios/{cid}/pagos(cid=${condominio.id}, pagina=1)}" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li class="page-item" th:each="pagina:${#numbers.sequence( 1, pagos.getTotalPages)}">
								<a class="page-link"
								   th:href="@{/condominios/{cid}/pagos(cid=${condominio.id}, pagina=${pagina-1})}"
								   th:text="${pagina}">1</a>
							</li>
							<li class="page-item">
								<a class="page-link" th:href="@{/condominios/{cid}/pagos(cid=${condominio.id}, pagina=${pagos.getTotalPages})}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>

				</div>
				<div class="card-footer text-end">
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalForm">Nuevo</button>
				</div>
			</div>
		</div>
		<footer th:include="layouts/master::footer"></footer>

		<div class="modal fade" tabindex="-1" id="modalForm" data-bs-backdrop="static">
			<div class="modal-dialog">
				<div class="modal-content">
					<form method="post" autocomplete="off" th:action="@{/condominios/{cid}/pagos/nuevo(cid=${condominio.id})}" th:object="${abono}">
						<div class="modal-header">
							<h5>Información del pago</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>

						<div class="modal-body">
							<div class="mb-3 form-group">
								<label for="casa" class="form-label">Casa</label>
								<select id="casa" class="form-select" th:field="${abono.casa}">
									<option value="">No identificado</option>
									<option th:each="casa:${casas}" th:value="${casa.id}" th:text="${casa.interior}"></option>
								</select>
								<div id="casaHelp" class="form-text invalid-feedback" th:if="${#fields.hasErrors('casa')}" th:errors="*{casa}"></div>
							</div>
							<div class="mb-3 form-group">
								<label for="fechaRealizado" class="form-label">Fecha realizado</label>
								<input type="date" class="form-control" id="fechaRealizado" aria-describedby="fechaHelp" required
									   th:max="${tomorrow}"
									   th:field="${abono.fechaPagado}"
									   th:classappend="${#fields.hasErrors('fechaPagado')} ? is-invalid : ''">
								<div id="fechaHelp" class="form-text invalid-feedback" th:if="${#fields.hasErrors('fechaPagado')}" th:errors="*{fechaPagado}">Fecha realizado</div>
							</div>
							<div class="mb-3 form-group">
								<label for="metodoPago" class="form-label">Forma de pago</label>
								<select id="metodoPago" class="form-select" th:field="${abono.metodo}" required>
									<option th:value="${item}" th:each="item:${T(mx.admino.models.PagoMetodo).values()}" th:text="${item}"></option>
								</select>
							</div>
							<div class="mb-3 form-group">
								<label for="importe" class="form-label">Importe</label>
								<input type="number" step="1.00"  class="form-control" id="importe" aria-describedby="importeHelp" required
									   th:field="${abono.importe}"
									   th:classappend="${#fields.hasErrors('importe')} ? is-invalid : ''">
								<div id="importeHelp" class="form-text invalid-feedback" th:if="${#fields.hasErrors('importe')}" th:errors="*{importe}">Importe</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</main>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
		integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
		integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
		crossorigin="anonymous"></script>
</body>

</html>